#container{
    background: white;
    width: 100%;
    position: relative;
 height:max-content;
  height:auto;

}

/* top most box in home page and row 1 */
#top{
    width: 80%;
    height: auto;
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 150px,170px;
    grid-template-areas: 
    " a a a a a a a b b b b b"
    " a a a a a a a c c c c c"
    
}
#box1{
    grid-area: a;
    margin: 10px;
    background-color: white;
}
#box1>#left {
    margin-top: 20%;
    height: 40px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    border: none;
    background-color: black;
    color: white;
    opacity: 0.33;
    cursor: pointer;
}
#box1>#right {
    margin-top: 20%;
    border-radius: 50px;
    width: 50px;
    height: 40px;
    position: absolute;
    border: none;
    background-color: gray;
    color: white;
    margin-left:-4%;
    opacity: 0.33;
    cursor: pointer;
}

#box1>img{
    width: 100%;
    height: 100%;
    
}

#box2{
    grid-area: b;
    margin: 10px;
} 
#box2>img , #box3>img{
    width: 100%;
    height: 100%;
}
#box3{
    grid-area: c;
    margin: 10px;
}
/* second row formation */
#outerRow2{
  background-color: white;
    width: 80%;
    margin: auto;   
}
#outerRow2>h3{  
     font-size: 20px;
     font-family: "Open Sans", sans-serif !important;
     color: #333;
 }
 
 #row2{
     margin-top: 500px;
     display: flex;
     width: 100%;    
     margin: auto;
     margin-bottom: 30px;
  }
  
  #row2 div{
    cursor: pointer;
      background-color: white;
      margin-right: 10px;
     width: 100%;
     border: 1px solid rgb(121, 116, 116);
         }
  
  #row2 img{
      max-width: 100%;;
      max-height: 90%;
      display: block;
  }
  #row2 p{
      text-overflow: hidden;
      overflow: hidden;
      color: gray;
      margin-left: 10px;
      font-family:arial;
      font-size: 13px;
     
}
#row2 h3{  
    font-size: 17px;
    font-family: "Open Sans", sans-serif !important;
    color: #333;
    margin-left: 10px;
}

/* third row creating css part*/
#outerRow3{
    background-color: #e7f1fb;
      width: 80%;
      
      margin: auto;   
  }
  #outerRow3>h3{  
       font-size: 25px;
       padding: 20px;
       font-family: "Open Sans", sans-serif !important;
       color: #333;
       margin-bottom: -10px;
   }
   
   #row3{
      
       display: flex;
       width: 100%;    
       margin: auto;
      padding-bottom: 20px;
      margin-left: 5px;
      
      
    }
    
    #row3 div{
      cursor: pointer;
        background-color: white;
        margin-right: 10px;
     }
    
    #row3 img{
        max-width: 95%;;
        max-height: 90%;
        display: block;
    }
    #row3 p{
        text-overflow: hidden;
        overflow: hidden;
        color: gray;
        margin-left: 10px;
        font-family:arial;
        font-size: 13px;
       
  }
  #row3 h4{  
      padding-left: 10px;
  }

/* row5 css */
#outerRow5{ 
    background-color: white;
    width: 80%;
    margin: auto;
    
}


#outerRow5>h3{
    
     padding: 10px;
     font-size: 20px;
     font-family: "Open Sans", sans-serif !important;
     color: #333;
 }
 
 #row5{
     
     display: flex;
     width: 100%;
     background-color: white;
     margin: auto;
     margin-bottom: 30px;
  }
  
  #row5 div{
      
      background-color: white;
      margin-right: 10px;
      padding: 10px;
      cursor: pointer;
      }


  
  
  #row5 img{
      max-width: 90%;;
      max-height: 90%;
      display: block;
  }
  
  #row5 h4{
      color: #d81414;
      font-family: "Open Sans", sans-serif !important;
      font-size: 18px;
      margin: 6px 0px;
  }
  
  
  #row5 p{
    color: #999999;

    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    display: block;
    margin: 0px 0px 6Px;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    margin: 10px auto;
    display: block;
    overflow: hidden;
    
}
  
  
  #row5 h5{
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      margin: 2px 4px;
      display: inline;
      background-color: #d81414;
  padding: 5PX;
  }
 
  #row5 p{
      text-overflow: hidden;
      overflow: hidden;
  }


 /* row 6 css part created */


 #outerRow6{
    background-color: white;
    width: 80%;
    margin: auto;
    
}


#outerRow6>h3{
     padding: 10px;
     font-size: 20px;
     font-family: "Open Sans", sans-serif !important;
     color: #333;
 }
 
 #row6{
     
     display: flex;
     width: 100%;
     margin: auto;
     margin-bottom: 30px;
  }
  
  #row6 div{
      
      background-color: white;
      margin-right: 10px;
      padding: 10px;
      cursor: pointer;
     }
  
  #row6 img{
      max-width: 90%;;
      max-height: 90%;
      display: block;
  }
  
  #row6 h4{
      color: #d81414;
      font-family: "Open Sans", sans-serif !important;
      font-size: 18px;
      margin: 6px 0px;
  }
  
  
  #row6 p{
    color: #999999;

    font-family: "Open Sans", sans-serif !important;
    font-size: 12px;
    display: block;
    margin: 0px 0px 6Px;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    height: 36px;
    margin: 10px auto;
    display: block;
    overflow: hidden;
    
}
  
  
  #row6 h5{
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif !important;
      font-size: 14px;
      margin: 2px 4px;
      display: inline;
      background-color: #d81414;
      padding: 5PX;
  }
 
  #row6 p{
      text-overflow: hidden;
      overflow: hidden;
  }

   /* row 7  part created */
#row7{
    height: 300px;
    width: 80%;
   
    margin: auto;
   
}
#rowleft7{
    margin-top: 13%;
}
#leftRow{
    background-color: #d81414;
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    color: white;
    border-radius: 20px;
    opacity: 0.33;
}
#rowright7{
   margin-top: -14%;
   margin-left: 96.5%;
 
}
#rightRow{
    background-color: #d81414;
  height: 40px;
  width: 40px;
  outline: none;
  border: none;
  color: white;
  border-radius: 20px;
  opacity: 0.33;
}
#rightRow:hover,#leftRow:hover{
    opacity: 1;
    cursor: pointer;
}

#row7>img{
    height:250px;
    width: 250px;
    margin-top: -150px;
    margin-left: 70px;
}

/*footer section for css*/
  .footer-main{
    width: 100%;
    padding-top: 50px;
    background-color: #f1f5f9;
    padding-bottom: 20px;
    
}
.footer-div{
  width: 85%;
  margin: 10px auto;
}
.footer-inner{
   width: 100%;
   margin: 0px auto;
   height: 400px;
   display: flex;
   justify-content: space-between;
}
.footer-inner>div{
 
  width: 50%;
  display: flex;
  flex-direction: column;
}
.footer-inner>div>div:nth-child(1){
  height: 15%;
}

.footer-popular{
  width: 100%;
  display: flex;
  margin: 10px auto;
}
.footer-popular>div{
  margin: 5px;
  background-color: rgb(219, 217, 217);
  border-radius: 3px;
  padding: 3px;
  color: grey;
}
.footer-popular>div:hover{
  color: blue;
}

.footer-input>input{
  width: 70%;
  padding: 5px 0px;
  margin-right: 0px;
  border-radius: 3px;
}
.footer-input>button{
  padding: 5px 15px;
  background-color: #074EA3;
  color: #ffff;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 3px;
  
}
.footer-copyright>p{
  margin-top: 10px;
  padding: 5px;
  color: rgb(105, 104, 104);
}
.footer-copyright{
  background-color:#202020;
  text-align: center;
  height: 30px;
  
  
}
.footer-payment{
  display: flex;
  
}
.footer-lang>p{
text-align: center;
color: rgb(187, 185, 185);
}
.footer-right-top{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.footer-right-top-left{
  display: flex;
}
.footer-right-top-left>div{
  margin-right: 20px;
  margin-top: 10px;
}
.footer-right-top-left>div>img{
  width: 20px;
  height: 20px;
}
.footer-right-top-right{
  display: flex;
}
.footer-right-top-right>div{
  margin-right: 25px;
  margin-top: 5px;
  justify-content: center;
  text-align: center;
}
.footer-right-top-right>div>img{
  width: 20px;
  height: 20px;
}
.footer-right-top-right>div>span{
  display: block;
}
.footer-right-bottom{
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
.footer-right-bottom-left>p:hover{
  color: rgb(72, 72, 253);
}
.footer-right-bottom-center>p:hover{
  color: rgb(72, 72, 253);
}
.footer-right-bottom-right>p:hover{
  color: rgb(72, 72, 253);
}
.footer-left-bottom>p{
color: rgb(136, 135, 135);
font-family: "Open Sans", sans-serif;
font-size: 12px;
line-height: 30px;
}
.footer-right-top-right>div>p{
  line-height: 0px;

}
.footer-right-top-right>div>p:hover{
  color: blue;
}
.footer-right-top-left>div>img:hover{
  width: 23px;
  height: 23px;
}
a{
  text-decoration: none;
   font-size: 14px;
   margin-left: 10px;
}